.idea/
dist/
dist
node_modules/
out/
parser-testing/
src/
test/
.gitignore
all.
build.bat
debug-out.js
deploy-npm.bat
install-local.bat
*.tgz
prepare.bat
test-key.key
testPar
build.bat
prepare.bat
tsconfig.json
webpack.config.js
.babelrc
test.bat
package-lock.json
*.tgz
.npmrc
*.bat